*{
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    margin: 0px;
}

.margin-const{
    padding: 0px;
    margin: 0px;
}

.slide-bar{
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    background: linear-gradient(149.96deg, #301F81 12.51%, #0F0441 89.53%);
    width: 15%;
    
}

.employee_view_details{
    display: flex;
  
}





.slide-bar-head{
 border-bottom: 1px solid #FFFFFF2B;
 padding: 20px;
 
}

.slide_bar_nav_flex{
    flex: 2;
}

.slide-bar-head h2{ 

    font-weight: 700;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;

}
.slide-bar-head span{
    font-weight: 300;
    font-size: 23px;
    line-height: 28px;
    color: #FFFFFF;
    
}

.slide_bar_nav_flex ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFFB2;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
    
   




.slide_bar_nav_flex ul{

    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    


}

.company_name{
    display: flex;
    border-top: 1px solid  #FFFFFF2B;
    padding: 20px;



}
.company_name h4 {
    font-weight:500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
  

}

.mn-page-flex{
    display: flex;
    justify-content: space-between;
    padding: 30px
}



.main-page{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.ava-image img{
    border-radius: 50%;
}

.search-box-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0px 15px;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: none;
    gap: 15px;
}

.bg-color{
 background-color: #F4F7FE;

}
.search-box-flex input{
    border: none;
    background-color: #F4F7FE;
    padding: 8px 11px;
    border-radius: 30px
}

.main-page-banner-head h5{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #707EAE;

}
.main-page-banner-head h1{
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
}

.margin-auto{

   width: fit-content !important;
  
}

.bd{

    border: 1px solid black;
    border-radius: 16px solid;
    padding: 10px;
    border-radius: 16px;
    box-shadow: 0px 18px 40px 0px #7090B01F;
    border: none;

}
.view-input-name{
    
}

.card-body{
    border-radius: 20px !important;
    border: 1px solid black !important;
    border: none !important;
}

.two-btn{
    display: flex;
    gap: 5px;
    justify-content: end;
}


.container{
    max-width: 900px !important;
}

/* //// */

.l-form{
    text-align: center;
}

.upload-img{
    border: 2px  dashed ;
    color: #B2BAD0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
  

p{
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
}

.rangebox{

    width: 60px;

}

.btn-cancel{
border: none;
color: #2B3674;
font-size: 15px;
line-height: 24px;
font-weight: 700;
background-color: #FAF9FF;
padding: 13px 28px;
border-radius: 16px;
}


.btn-save{
    border: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
   
    background-color: #4318FF;

    padding: 13px 28px;
    border-radius: 16px;
}

.bgg{
    background-color: #ffffff;
    border-radius: 22px;
}

.con1{
display: flex;
flex-direction: column;
gap: 30px;
}

::placeholder{

color:#949DB9 !important;
font-size: 14px;
line-height: 14px;
font-weight: 400;

}
label{
font-weight: 500;
font-size: 14px;
line-height: 14px;
color: var(--primary-color);
}

.form-select{
font-weight: 400  !important;
font-size: 14px !important;
line-height: 14px  !important;
color: #949DB9  !important;
padding: 10px  !important;
border: 1px  solid  #B6BBC7 !important;
border-radius: 11px !important;



}

.form-check-label{
font-weight: 400 ;
font-size: 14px;
line-height: 20px;
}

.form-control{
border: 1px  solid  #B6BBC7 !important;
border-radius: 11px !important;

}
.col.p-2.d-flex.gap-2{
padding-left: 12px !important;
}

.jj{

width: 87px;
height: 45px;
border-radius: 16px;
border: 1px solid #B6BBC7 !important;
padding: 6px !important;
text-align: center;

}
/* form gap remove */

.form.d-flex.gap-4.py-5{
padding-bottom: 0 !important;
}

input[type=range]::-webkit-slider-thumb {
background :  #4318FF;
height : 20px;
width : 20px;
box-shadow: none !important;
}

.form-label::after{
content: '*';
color: red;
}




.view-form{
    width: 45%;
     display: none;
     position: absolute;
     top: 50px;
     left: 500px;

    }
  


 .card-body.form-view{
    height:90vh;
    overflow-y: scroll ;
   
    
 }   
.card-body.form-view::-webkit-scrollbar{

    display: none;

}
 .salutaion{
    display: flex;
    flex-direction: column;
    justify-content: center;

 }

 .radiorange{
    display: flex;
    gap: 30px;
 }


 .view_addempolye_cancel{

    color: #4318FF !important;
    background: #F4F7FE !important;
    border-radius: 10px !important;


 }

 .view-edit-sumbit{
    background: #4318FF !important;
    color: white !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 24px !important;
 }


.view_edit-cancel{
    font-weight: 700 !important;
    line-height: 24px !important;
    font-size: 15px !important;
    color: #2B3674 !important;
    background: #FAF9FF !important;



}

.flex-two_btn_view{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.error{
    display: none;
}



.view-delete-aler-box{
    width: 550px;
    /* background: #FFFFFF; */
    border-radius: 18px;
    display: flex;
    flex-direction: column;
     background: #FFFFFF;
    position: absolute;
    top: 390px;
    left: 550px;
  display: none;
}

.view-delete-aler-box h3{

    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #2B3674;
 }

 .view-delete-aler-box i{

    color:#4318FF;
    background: #F4F7FE;
   
   
    
   }

   .delete-cont-and-btn{
    display: flex;
    justify-content: space-between;
    padding: 10px 11px;

}

.cancel-delete{
    display: flex;
    justify-content: end;
    padding: 5px 13px;
    gap: 5px;
    

}
.head5{
    padding: 5px 13px;
}

.btn-delete{
    border: none;
    border-radius: 10px;
    padding: 5px 13px;
}
.formdivalin{
    border-radius: 35px !important;
    /* background-color: black !important; */
 
}

#view-image-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#image-view img{
    
    border-radius: 50%;
    height: 105px;
    width: 110px;
    position: absolute;
    top: -105px;
    left: 314px;

}

#input-file{
    display: none;
}


#profile-pic{
    height: 100px;
    border-radius: 13px;
}

.gg{
    
}


.ro{
    display: flex;
    gap: 74px;
    padding: 10px
}
.btn-radius{
    border-radius: 10px !important;
}

.hh{
    gap: 5px;
}

.view-card{
    height: 600px;
    overflow: scroll;
   
}


.view-card::-webkit-scrollbar{
    display: none;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    border: 1px solid #0000002B;
    padding: 20px;
  
}
.footer-link{
    display: flex;
    gap: 10px;
  
}

.bottom-footer h6{
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;color: #707EAE;
    

}

#rabs{
  border-radius: 20px !important;
}


.form-radius{
    border-radius: 20px !important;
}

.header-radius{
    border-radius: 20px !important;
}